@charset "utf-8";
/*===  清除文档原有的属性  ===*/
html{font-size:62.5%;}
body{font: 100%/2.0 Helvetica, Arial, sans-serif;width:100%;background-color:#f6f6f6}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none
}
:focus {
	outline: 0
}
a{
	text-decoration:none
}
a img {
	border: 0;
}
img {
	vertical-align: middle
}
table {
	empty-cells: show;
	border-collapse:collapse;
	border-spacing:0
}
ins {
	text-decoration: none
}
del {
	text-decoration: line-through
}
em {
	font-style: normal
}
button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file]>input[type=button]::-moz-focus-inner {
	border:0;
	padding:0;
}
q:before, q:after {
	content: '';
}
body:lang(zh-cn){
	font-family:Arial, sans-serif, "宋体";
}
div{
	display:block
}
input, button, select, textarea {
	font-family:"宋体", arial;
	outline: none;
	margin:0;
	padding:0;
	vertical-align:middle
}
/*===  主体模块部分及头部尾部  ===*/
header{
	width:100%;
	height:72px;
	font-size:1.4em;
	padding-top:2px;
	position:relative;
}
header ul{display:inline-block;width:100%}
header ul li{
	display:inline-block;
}
header ul li:first-child{
	margin-right:16px;
}
.logo{
	width:130px;
	height:72px;
	display:inline-block;
	background:url(../images/logo.png) no-repeat
}
.web-desc{
	width:260px;
	height:72px;
	display:inline-block;
	background:url(../images/web-desc.png) no-repeat
}
#search{
	width:450px;
	height:30px;
	line-height:30px;
	margin:16px 0 0 30px;
	border:2px solid #dc6969;
	background-color:#fff;
}
#search>input[type="text"]{
	width:410px;
	height:28px;
	line-height:30px;
	font-size:1.0em;
	margin:-2px 0 0 0;
	border:none;
}
#search>input[type="submit"]{
	width:20px;
	height:20px;
	margin:-2px 0 0 7px;
	display:inline-block;
	border:none;
	background:url(../images/search-btn.png) no-repeat;
	opacity:.8
}
.web-tright{
	width:140px;
	height:72px;
	display:inline-block;
	background:url(../images/web-tright.png) no-repeat right top;
	overflow:hidden
}
.log_info{
	padding-left:10px;
	padding-top:16px;
	line-height:32px;
}
.log_info a{color:#000;}
.log_info a:hover{color:#F00;}

nav{
	width:100%;
	height:48px;
	line-height:48px;
	background-color:#ce1e1e;
	position:relative
}
nav ul:first-child li{
	width:195px;
	/*height:100%;*/
	font-size:1.8em;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	background-color:#52aae2;
	position:relative;
}
nav ul li{
	font-size:1.4em;
	font-weight:bold;
	display:inline-block;
	float:left;
}
nav ul li a{
	padding:0 1.2em;
	display:inline-block;
	color:#fff;
	text-shadow:0 2px 5px #666;
}
nav ul li a:hover{
	text-decoration:underline;
	box-shadow:0 0 5px #666 inset;
	display:inline-block;
	background-color:#52aae2;
}
.leftbar{
	width:195px;
	height:575px;
	float:left;
	background-color:#52aae2;
	position:absolute;
	z-index:9;
	display:none;
}
.leftbar ul li{
	width:100%;
	/*height:115px;*/
	display:inline-block;
	position:relative;
	line-height:auto;
	padding:20px 0px;
}
.leftbar ul li i{
	width:195px;
	height:2px;
	display:inline-block;
	background:url(../images/border-line.png) no-repeat;
	position:absolute;
	top:0;
}
.leftbar ul li a{
	text-align:left;
	color:#fff;
	padding:0px 20px;
	line-height:32px;
	background:0px;
}
.leftbar ul li a:hover{
	box-shadow:none;
}
.leftbar ul li a b{
	width:100%;
	font-size:20px;
	text-indent:0em;
	font-weight:normal;
	display:inline-block;
}
.leftbar ul li a span{
	width:100%;
	font-size:0.4em;
	text-indent:0em;
	display:inline-block;
}
#menu{
	width:40px;
	height:300px;
	background-color:#c2c2c2;
	position:fixed;
	top:35%;
	left:2%;
}
#menu ul li a{
	width:100%;
	height:49px;
	font-size:1.2em;
	display:inline-block;
	color:#fff;
	border-bottom:1px solid #f9f0f1;
}
#menu ul li a:hover{
	background-color:#ff8e88
}
#menu ul li a span{
	width:100%;
	height:20px;
	margin-top:-5px;
	display:inline-block;
	float:left;
	text-align:center;
}
.ico-index, .ico-uu, .ico-ting, .ico-uh{
	width:21px;
	height:20px;
	margin:5px 0 0 9px;
	display:inline-block;
	background:url(../images/ico-fex.png) no-repeat top;
}
.ico-uu{
	height:16px;
	margin-top:7px;
	background-position:0 -22px;
}
.ico-ting{
	height:22px;
	background-position:0 -40px;
}
.ico-uh{
	height:12px;
	margin-top:9px;
	background-position:bottom
}
#container{
	width:100%;
	position:relative;
}
.pagebody{
	width:100%;
	float:left;
	margin:24px 0 0 0;
}
footer{
	width:100%;
	height:200px;
	background-color:#e6e6e6;
}
.footer-1{
	width:100%;
	font-size:1.4em;
	font-weight:bold;
	padding-top:10px;
	text-align:center;
}
.footer-1 ul li{
	padding:12px 16px;
	display:inline-block
}
.footer-1 ul li a{
	color:#000;
}
.footer-2{
	width:100%;
	height:64px;
	font-size:1.4em;
	text-align:center;
	color:#666
}
.footer-2 p{
	line-height:32px;
}
/*===  大模块布局公共类  ===*/


.main{
	width:750px;
	margin:24px 0 0 0;
}
.sidebar{
	width:360px;
	margin:24px 0 0 0;
}
/*===  一些常用公共类  ===*/
.c{
	width:1140px;
	margin:0 auto;
}
.fl{float:left;}
.fr{float:right}
.fc{clear:both}
a.ftred, .ftred{
	color:#f10000
}
a.ftblack{
	color:#454545
}
a:hover.ftblack{
	color:#f10000;
	text-decoration:underline
}
.star-0, .star-1, .star-2, .star-3, .star-4, .star-5{
	width:78px;
	height:12px;
	display:inline-block;
	background:url(../images/stars.png) no-repeat 0 0
}
.star-4{
	background-position:-14px 0
}
.star-3{
	background-position:-30px 0
}
.star-2{
	background-position:-46px 0
}
.star-1{
	background-position:-62px 0
}
.star-0{
	background-position:-78px 0
}

/*分页*/
.page_info{text-align:center;color:#333;}
.page_info span{padding:0 2px;font-weight:bold;}
.page_list{height:24px;line-height:24px;text-align:center;letter-spacing:0;font-family:"Arial Black";font-size:10px;margin-top:20px;}
.page_list a{display:inline-block;background-color: #fff; border: 1px solid #f0f0f0; color: #454545; margin: 0 6px 0 0;
 padding: 1px 10px;}
.page_list a:hover{color:#fff; background:#f10000;}
.page_list a.on{color:#fff; background:#f10000;}








